<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.ch2mhill.prototype"
        versionCode = "10"
        version     = "1.9.0">

  <name>Prototype</name>

  <description>
    Prototype Application
  </description>

  <author href="http://www.ch2mhill.com" email="dyardy@ch2m.com">
    David Yardy
  </author>

  <feature name="http://api.phonegap.com/1.0/camera"/>
  <feature name="http://api.phonegap.com/1.0/contacts"/>
  <feature name="http://api.phonegap.com/1.0/file"/>
  <feature name="http://api.phonegap.com/1.0/geolocation"/>
  <feature name="http://api.phonegap.com/1.0/media"/>
  <feature name="http://api.phonegap.com/1.0/network"/>
  <feature name="http://api.phonegap.com/1.0/notification"/>


  <plugin name="Camera" value="org.apache.cordova.CameraLauncher" />

  <access origin="*" /> 
  <!--<access origin="https://webappsdev.ch2m.com" subdomains="true"/>-->
  
</widget>